@page
@model Reloj_Marcador.Pages.Areas.DeleteModel
@{
    ViewData["Title"] = "Eliminar Área";
}

<h1>Eliminar Área</h1>

<h4>Persona</h4>
<hr />
<div>
    <h4>¿Está seguro que desea eliminar esta Área?</h4>
    <div>
        <h5>@Model.Area!.Nombre_Area</h5>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post">
        <input type="hidden" asp-for="Area.ID_Area" />
        <input type="hidden" asp-for="Area.Nombre_Area" />
        <input type="hidden" asp-for="Area.Jefe" />

        <p>¿Está seguro de eliminar el área <strong>@Model.Area.Nombre_Area</strong>?</p>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
