@page
@model Reloj_Marcador.Pages.Funcionarios.EditModel
@{
    ViewData["Title"] = "Editar Funcionario";
}

<h1>Editar Funcionario</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Funcionario.Identificacion" class="control-label"></label>
                <input asp-for="Funcionario.Identificacion" class="form-control" readonly />
                <span asp-validation-for="Funcionario.Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.TipoIdentificacion" class="control-label"></label>
                <input asp-for="Funcionario.TipoIdentificacion" class="form-control" />
                <span asp-validation-for="Funcionario.TipoIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Nombre" class="control-label"></label>
                <input asp-for="Funcionario.Nombre" class="form-control" />
                <span asp-validation-for="Funcionario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Apellido" class="control-label"></label>
                <input asp-for="Funcionario.Apellido" class="form-control" />
                <span asp-validation-for="Funcionario.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Correo" class="control-label"></label>
                <input asp-for="Funcionario.Correo" class="form-control" />
                <span asp-validation-for="Funcionario.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Contrasena" class="control-label"></label>
                <input asp-for="Funcionario.Contrasena" class="form-control" />
                <span asp-validation-for="Funcionario.Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.ID_Rol" class="control-label"></label>
                <input asp-for="Funcionario.ID_Rol" class="form-control" />
                <span asp-validation-for="Funcionario.ID_Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Estado" class="control-label"></label>
                <input asp-for="Funcionario.Estado" class="form-control" />
                <span asp-validation-for="Funcionario.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver a la lista</a>
</div>
