
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle i {
    position: relative;
    top: 0px;
}

.card {
    border: none;
}

.table thead th {
    border: none;
}

