@page
@model Reloj_Marcador.Pages.Marca_Entrada_Salida.IndexModel
@{
    ViewData["Title"] = "Marcar Entrada-Salida";
}

<h1>Marcar Entrada-Salida</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Marca.Identificacion" class="control-label"></label>
                <input asp-for="Marca.Identificacion" class="form-control" readonly />
                <span asp-validation-for="Marca.Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca.Contrasena" class="control-label"></label>
                <input asp-for="Marca.Contrasena" class="form-control" />
                <span asp-validation-for="Marca.Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="Marca" class="form-control" asp-items="Model.Areas"></select>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca.Descripcion" class="control-label"></label>
                <input asp-for="Marca.Descripcion" class="form-control" />
                <span asp-validation-for="Marca.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca.Tipo_Marca" class="control-label"></label>
                <input asp-for="Marca.Tipo_Marca" class="form-control" />
                <span asp-validation-for="Marca.Tipo_Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Marcar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver a la lista</a>
</div>

